body {
    background-color: #9F3AFF;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin-left:20px;
}

.drinkImg {
    width:300px;
}

#aboutTheOwner {
    margin-bottom:64px;
}

.menuTable {
    font-family:'Comic Sans MS';
}

.hoursTable {
    margin-bottom:64px;
}

footer {
    font-size: 8px;
}